In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
all_raw_data_1 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2000-01.csv')
all_raw_data_2 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2001-02.csv')
all_raw_data_6 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2005-06.csv')
all_raw_data_7 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2006-07.csv')
all_raw_data_8 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2007-08.csv')
all_raw_data_9 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2008-09.csv')
all_raw_data_10 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2009-10.csv')
all_raw_data_11 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2010-11.csv')
all_raw_data_12 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2011-12.csv')
all_raw_data_13 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2012-13.csv')
all_raw_data_14 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2013-14.csv') 
all_raw_data_15 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2014-15.csv')
all_raw_data_16 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2015-16.csv')
all_raw_data_17 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2016-17.csv')
all_raw_data_18 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2017-18.csv')
all_raw_data_19 = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/PL-datasets/2018-19.csv')

In [ ]:
raw_data_1 = all_raw_data_1[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_1.shape)
raw_data_2 = all_raw_data_2[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_2.shape)
raw_data_6 = all_raw_data_6[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_6.shape)
raw_data_7 = all_raw_data_7[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_7.shape)
raw_data_8 = all_raw_data_8[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_8.shape)
raw_data_9 = all_raw_data_9[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_9.shape)
raw_data_10 = all_raw_data_10[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_10.shape)
raw_data_11 = all_raw_data_11[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_11.shape)
raw_data_12 = all_raw_data_12[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_12.shape)
raw_data_13 = all_raw_data_13[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_13.shape)
raw_data_14 = all_raw_data_14[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_14.shape)
raw_data_15 = all_raw_data_15[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_15.shape)
raw_data_16 = all_raw_data_16[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_16.shape)
raw_data_17 = all_raw_data_17[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_17.shape)
raw_data_18 = all_raw_data_18[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_18.shape)
raw_data_19 = all_raw_data_19[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]
print(raw_data_19.shape)

(380, 20)
(380, 20)
(380, 20)
(380, 20)
(380, 20)
(380, 20)
(380, 20)
(380, 20)
(380, 20)
(380, 20)
(380, 20)
(381, 20)
(380, 20)
(380, 20)
(380, 20)
(160, 20)

In [ ]:
raw_data_15 = raw_data_15.iloc[0:380,]
raw_data_15.shape

(380, 20)

In [ ]:
playing_stat = pd.concat([raw_data_1,raw_data_2,raw_data_6,raw_data_7,raw_data_8,raw_data_9,raw_data_10,raw_data_11,raw_data_12,raw_data_13,raw_data_14,raw_data_15,raw_data_16, raw_data_17, raw_data_18, raw_data_19],ignore_index=True)
seasons = [raw_data_1,raw_data_2,raw_data_6,raw_data_7,raw_data_8,raw_data_9,raw_data_10,raw_data_11,raw_data_12,raw_data_13,raw_data_14,raw_data_15,raw_data_16, raw_data_17, raw_data_18, raw_data_19]

In [ ]:
playing_stat.shape

(5860, 20)

FEATURE EXTRATION

In [ ]:
table = pd.DataFrame(columns=('Team','HGS','AGS','HAS','AAS','HGC','AGC','HDS','ADS'))

avg_home_scored = playing_stat.FTHG.sum() / 5860.0
avg_away_scored = playing_stat.FTAG.sum() / 5860.0
avg_home_conceded = avg_away_scored
avg_away_conceded = avg_home_scored
#print
res_home = playing_stat.groupby('HomeTeam')
#print()
res_away = playing_stat.groupby('AwayTeam')
all_teams_list = list(res_home.groups.keys())
print(all_teams_list)
table.Team = list(res_home.groups.keys())
table.HGS = res_home.FTHG.sum().values
table.HGC = res_home.FTAG.sum().values
table.AGS = res_away.FTAG.sum().values
table.AGC = res_away.FTHG.sum().values
#19 Home matches for each team each season and 16 seasons therefore 361 home matches and 361 away matches
table.HAS = (table.HGS / 342.0) / avg_home_scored
table.AAS = (table.AGS / 342.0) / avg_away_scored
table.HDS = (table.HGC / 342.0) / avg_home_conceded
table.ADS = (table.AGC / 342.0) / avg_away_conceded
#table

['Arsenal', 'Aston Villa', 'Birmingham', 'Blackburn', 'Blackpool', 'Bolton', 'Bournemouth', 'Bradford', 'Brighton', 'Burnley', 'Cardiff', 'Charlton', 'Chelsea', 'Coventry', 'Crystal Palace', 'Derby', 'Everton', 'Fulham', 'Huddersfield', 'Hull', 'Ipswich', 'Leeds', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Middlesbrough', 'Newcastle', 'Norwich', 'Portsmouth', 'QPR', 'Reading', 'Southampton', 'Stoke', 'Sunderland', 'Swansea', 'Tottenham', 'Watford', 'West Brom', 'West Ham', 'Wigan', 'Wolves']

In [ ]:
#Extract necessary features from the data file
feature_table = playing_stat.iloc[:,:23]

#Full Time Result(FTR), Home Shots on Target(HST), Away Shots on Target(AST), Home Corners(HC), Away Corners(AC)
feature_table = feature_table[['HomeTeam','AwayTeam','FTR','HST','AST','HC','AC']]

#Home Attacking Strength(HAS), Home Defensive Strength(HDS), Away Attacking Strength(AAS), Away Defensive Strength(ADS)
f_HAS = []
f_HDS = []
f_AAS = []
f_ADS = []
for index,row in feature_table.iterrows():
    f_HAS.append(table[table['Team'] == row['HomeTeam']]['HAS'].values[0])
    f_HDS.append(table[table['Team'] == row['HomeTeam']]['HDS'].values[0])
    f_AAS.append(table[table['Team'] == row['AwayTeam']]['AAS'].values[0])
    f_ADS.append(table[table['Team'] == row['AwayTeam']]['ADS'].values[0])

feature_table['HAS'] = f_HAS
feature_table['HDS'] = f_HDS
feature_table['AAS'] = f_AAS
feature_table['ADS'] = f_ADS
feature_table

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,ADS
0,Charlton,Man City,H,14.0,4.0,6.0,6.0,0.144547,0.178964,1.063556,0.663774
1,Chelsea,West Ham,H,10.0,5.0,7.0,7.0,1.222942,0.626373,0.733751,0.855869
2,Coventry,Middlesbrough,A,3.0,9.0,8.0,4.0,0.026627,0.058802,0.283785,0.374681
3,Derby,Southampton,D,4.0,6.0,5.0,8.0,0.127429,0.347701,0.424400,0.443150
4,Leeds,Everton,H,8.0,6.0,6.0,4.0,0.127429,0.107378,0.800224,0.737950
...,...,...,...,...,...,...,...,...,...,...,...
5855,Leicester,Tottenham,A,3.0,2.0,6.0,5.0,0.327132,0.388607,1.055886,0.779792
5856,Man United,Fulham,H,11.0,4.0,10.0,3.0,1.209629,0.518995,0.414173,0.604814
5857,West Ham,Crystal Palace,H,6.0,4.0,5.0,3.0,0.734146,0.899932,0.286342,0.300505
5858,Newcastle,Wolves,A,4.0,6.0,4.0,6.0,0.705617,0.823233,0.161067,0.222526
5859,Everton,Watford,D,5.0,3.0,6.0,6.0,0.930045,0.815563,0.155954,0.214918

In [ ]:
#Function to transform FTR into numeric data type
def transformResult(row):
    if(row.FTR == 'H'):
        return 1
    elif(row.FTR == 'A'):
        return -1
    else:
        return 0

In [ ]:
feature_table["Result"] = feature_table.apply(lambda row: transformResult(row),axis=1)
y_pd = feature_table["Result"]
y = y_pd.values #Implementation Issue
feature_table.tail()

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,ADS,Result
5855,Leicester,Tottenham,A,3.0,2.0,6.0,5.0,0.327132,0.388607,1.055886,0.779792,-1
5856,Man United,Fulham,H,11.0,4.0,10.0,3.0,1.209629,0.518995,0.414173,0.604814,1
5857,West Ham,Crystal Palace,H,6.0,4.0,5.0,3.0,0.734146,0.899932,0.286342,0.300505,1
5858,Newcastle,Wolves,A,4.0,6.0,4.0,6.0,0.705617,0.823233,0.161067,0.222526,-1
5859,Everton,Watford,D,5.0,3.0,6.0,6.0,0.930045,0.815563,0.155954,0.214918,0

In [ ]:
def get_features_per_season(data_now):
    table_new = pd.DataFrame(columns=('Team','HGS','AGS','HAS','AAS','HGC','AGC','HDS','ADS'))
    avg_home_scored = data_now.FTHG.sum() / 380.0
    avg_away_scored = data_now.FTAG.sum() / 380.0
    avg_home_conceded = avg_away_scored
    avg_away_conceded = avg_home_scored
    res_home = data_now.groupby('HomeTeam')
    res_away = data_now.groupby('AwayTeam')
    table_new.Team = list(res_home.groups.keys())
    table_new.HGS = res_home.FTHG.sum().values
    table_new.HGC = res_home.FTAG.sum().values
    table_new.AGS = res_away.FTAG.sum().values
    table_new.AGC = res_away.FTHG.sum().values
    #19 Home matches for each team each season
    table_new.HAS = (table_new.HGS / 19.0) / avg_home_scored
    table_new.AAS = (table_new.AGS / 19.0) / avg_away_scored
    table_new.HDS = (table_new.HGC / 19.0) / avg_home_conceded
    table_new.ADS = (table_new.AGC / 19.0) / avg_away_conceded
    return table_new

get_features_per_season(raw_data_15)

,Team,HGS,AGS,HAS,AAS,HGC,AGC,HDS,ADS
0,Arsenal,41.0,30.0,1.464286,1.445783,14.0,22.0,0.674699,0.785714
1,Aston Villa,18.0,13.0,0.642857,0.626506,25.0,32.0,1.204819,1.142857
2,Burnley,14.0,14.0,0.500000,0.674699,21.0,32.0,1.012048,1.142857
3,Chelsea,36.0,37.0,1.285714,1.783133,9.0,23.0,0.433735,0.821429
4,Crystal Palace,21.0,26.0,0.750000,1.253012,27.0,24.0,1.301205,0.857143
5,Everton,27.0,21.0,0.964286,1.012048,21.0,29.0,1.012048,1.035714
6,Hull,19.0,14.0,0.678571,0.674699,24.0,27.0,1.156627,0.964286
7,Leicester,28.0,18.0,1.000000,0.867470,22.0,33.0,1.060241,1.178571
8,Liverpool,30.0,22.0,1.071429,1.060241,20.0,28.0,0.963855,1.000000
9,Man City,44.0,39.0,1.571429,1.879518,14.0,24.0,0.674699,0.857143
10,Man United,41.0,21.0,1.464286,1.012048,15.0,22.0,0.722892,0.785714
11,Newcastle,26.0,14.0,0.928571,0.674699,27.0,36.0,1.301205,1.285714
12,QPR,23.0,19.0,0.821429,0.915663,24.0,49.0,1.156627,1.750000
13,Southampton,37.0,17.0,1.321429,0.819277,13.0,20.0,0.626506,0.714286
14,Stoke,32.0,16.0,1.142857,0.771084,22.0,23.0,1.060241,0.821429
15,Sunderland,16.0,15.0,0.571429,0.722892,27.0,26.0,1.301205,0.928571
16,Swansea,27.0,19.0,0.964286,0.915663,22.0,27.0,1.060241,0.964286
17,Tottenham,31.0,27.0,1.107143,1.301205,24.0,29.0,1.156627,1.035714
18,West Brom,24.0,14.0,0.857143,0.674699,26.0,25.0,1.253012,0.892857
19,West Ham,25.0,19.0,0.892857,0.915663,18.0,29.0,0.867470,1.035714

In [ ]:
map_features = map(get_features_per_season, seasons)
list_tables = list(map_features)

In [ ]:
import math

feature_table = playing_stat.iloc[:,:23]
feature_table = feature_table[['HomeTeam','AwayTeam','FTR','HST','AST','HC','AC']]

def construct_X_per_match(table, match):
        HAS = table[table['Team'] == match['HomeTeam']]['HAS'].values[0]
        HDS = table[table['Team'] == match['HomeTeam']]['HDS'].values[0]
        AAS = table[table['Team'] == match['AwayTeam']]['AAS'].values[0]
        ADS = table[table['Team'] == match['AwayTeam']]['AAS'].values[0]
        return HAS, HDS, AAS, ADS

In [ ]:
#Full Time Result(FTR), Home Shots on Target(HST), Away Shots on Target(AST), Home Corners(HC), Away Corners(AC)
feature_table = feature_table[['HomeTeam','AwayTeam','FTR','HST','AST','HC','AC']]

#Home Attacking Strength(HAS), Home Defensive Strength(HDS), Away Attacking Strength(AAS), Away Defensive Strength(ADS)
f_HAS = []
f_HDS = []
f_AAS = []
f_ADS = []
for index,row in feature_table.iterrows():
    table_ix = math.floor(index/380)
    table = list_tables[table_ix]
    f_HAS.append(table[table['Team'] == row['HomeTeam']]['HAS'].values[0])
    f_HDS.append(table[table['Team'] == row['HomeTeam']]['HDS'].values[0])
    f_AAS.append(table[table['Team'] == row['AwayTeam']]['AAS'].values[0])
    f_ADS.append(table[table['Team'] == row['AwayTeam']]['ADS'].values[0])

feature_table['HAS'] = f_HAS
feature_table['HDS'] = f_HDS
feature_table['AAS'] = f_AAS
feature_table['ADS'] = f_ADS
feature_table

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,ADS
0,Charlton,Man City,H,14.0,4.0,6.0,6.0,1.056218,0.938272,1.037037,1.158433
1,Chelsea,West Ham,H,10.0,5.0,7.0,7.0,1.499148,0.987654,1.037037,1.022147
2,Coventry,Middlesbrough,A,3.0,9.0,8.0,4.0,0.477002,1.135802,1.283951,0.715503
3,Derby,Southampton,D,4.0,6.0,5.0,8.0,0.783646,1.185185,0.641975,0.885860
4,Leeds,Everton,H,8.0,6.0,6.0,4.0,1.226576,1.037037,0.790123,1.090290
...,...,...,...,...,...,...,...,...,...,...,...
5855,Leicester,Tottenham,A,3.0,2.0,6.0,5.0,0.819672,0.784314,1.862745,0.819672
5856,Man United,Fulham,H,11.0,4.0,10.0,3.0,1.147541,1.078431,0.588235,1.967213
5857,West Ham,Crystal Palace,H,6.0,4.0,5.0,3.0,1.147541,1.372549,0.882353,1.229508
5858,Newcastle,Wolves,A,4.0,6.0,4.0,6.0,0.573770,1.470588,0.686275,0.655738
5859,Everton,Watford,D,5.0,3.0,6.0,6.0,1.311475,0.882353,0.882353,0.819672

In [ ]:
n_matches = len(playing_stat)
average_home_goals = sum(playing_stat['FTHG'])/n_matches
average_away_goals = sum(playing_stat['FTAG'])/n_matches
average_home_points = (3*sum(playing_stat['FTR'] == 'H') + sum(playing_stat['FTR'] == 'D'))/n_matches
average_away_points = (3*sum(playing_stat['FTR'] == 'A') + sum(playing_stat['FTR'] == 'D'))/n_matches
print(average_home_goals)
print(average_away_goals)
print(average_home_points)
print(average_away_points)

1.5373720136518771
1.1436860068259385
1.6428327645051195
1.104778156996587

In [ ]:
def get_features_match(match, n=5):
    team1 = match['HomeTeam']
    team2 = match['AwayTeam']
    # Constructing a table when all the matches between the two teams are shown.
    res = playing_stat[((playing_stat['HomeTeam']==team1) & (playing_stat['AwayTeam']==team2)) | ((playing_stat['AwayTeam']==team1) & (playing_stat['HomeTeam']==team2))]
    name = match.name
    idx = res.index.get_loc(name)
    if idx >= n: #If there is at least n matches between the teams
        matches = res.iloc[idx-n:idx]
        pts_home = 0
        goals_home = 0
        goals_away = 0
        for index, row in matches.iterrows():
            #This ifs control if the current home team was home team or away in the past matches between the team in order
            #to sum correctly home/away goals. 
            if row['HomeTeam'] == team1:
                goals_home += row['FTHG']
                goals_away += row['FTAG']
                if row['FTR'] == 'H':
                    pts_home += 3
                elif row['FTR'] == 'D':
                    pts_home += 1
            if row['AwayTeam'] == team1:
                goals_home += row['FTAG'] 
                goals_away += row['FTHG']
                if row['FTR'] == 'A':
                    pts_home += 3
                elif row['FTR'] == 'D':
                    pts_home += 1
        pts_avg = pts_home/n
        goals_home_avg = goals_home/n
        goals_away_avg = goals_away/n
    elif idx == 0: # If there is 0 matches between the teams
        pts_avg = 1.6450138504155125
        goals_home_avg = 1.5336565096952908
        goals_away_avg = 1.1425207756232687
    else: #Some games between the teams but not n
        matches = res.iloc[0:idx]
        m = len(matches)
        pts_home = 0
        goals_home = 0
        goals_away = 0
        for index, row in matches.iterrows():
            #This ifs control if the current home team was home team or away in the past matches between the team in order
            #to sum correctly home/away goals. 
            if row['HomeTeam'] == team1:
                goals_home += row['FTHG']
                goals_away += row['FTAG']
                if row['FTR'] == 'H':
                    pts_home += 3
                elif row['FTR'] == 'D':
                    pts_home += 1
            if row['AwayTeam'] == team1:
                goals_home += row['FTAG'] 
                goals_away += row['FTHG']
                if row['FTR'] == 'A':
                    pts_home += 3
                elif row['FTR'] == 'D':
                    pts_home += 1
        pts_avg = pts_home/m
        goals_home_avg = goals_home/m
        goals_away_avg = goals_away/m
    return pts_avg, goals_home_avg, goals_away_avg

In [ ]:
pts_avgs = []
goals_home_avgs = []
goals_away_avgs = []
for index, row in playing_stat.iterrows():
    pts_avg, goals_home_avg, goals_away_avg = get_features_match(row, n=5)
    pts_avgs.append(pts_avg)
    goals_home_avgs.append(goals_home_avg)
    goals_away_avgs.append(goals_away_avg)
len(pts_avgs)

5860

In [ ]:
feature_table['FFPTSH'] = pts_avgs
feature_table['FFHG'] = goals_home_avgs
feature_table['FFAG'] = goals_away_avgs 
feature_table.tail()

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,ADS,FFPTSH,FFHG,FFAG
5855,Leicester,Tottenham,A,3.0,2.0,6.0,5.0,0.819672,0.784314,1.862745,0.819672,1.4,1.80,2.60
5856,Man United,Fulham,H,11.0,4.0,10.0,3.0,1.147541,1.078431,0.588235,1.967213,2.6,2.00,1.00
5857,West Ham,Crystal Palace,H,6.0,4.0,5.0,3.0,1.147541,1.372549,0.882353,1.229508,1.8,1.80,1.00
5858,Newcastle,Wolves,A,4.0,6.0,4.0,6.0,0.573770,1.470588,0.686275,0.655738,2.0,2.25,1.25
5859,Everton,Watford,D,5.0,3.0,6.0,6.0,1.311475,0.882353,0.882353,0.819672,1.4,1.40,1.40

In [ ]:
def get_features_streak_home(match, n=10):
    team1 = match['HomeTeam']
    team1_stats = playing_stat[((playing_stat['HomeTeam']==team1) | (playing_stat['AwayTeam']==team1))]
    name = match.name
    idx = team1_stats.index.get_loc(name)
    if idx == 0:
        pts_avg = 1.6450138504155125
        goals_scored_avg = 1.5336565096952908
        goals_conceded_avg = 1.1425207756232687
    else:
        if idx-n < 0:
            newidx = 0
        else:
            newidx = idx - n
        matches_team1 = team1_stats.iloc[newidx:idx]
        m = len(matches_team1)
        pts = 0
        goals_scored = 0
        goals_conceded = 0
        for index, row in matches_team1.iterrows():
            if row['HomeTeam'] == team1:
                goals_scored += row['FTHG']
                goals_conceded += row['FTAG']
                if row['FTR'] == 'H':
                    pts += 3
                elif row['FTR'] == 'D':
                    pts += 1
            if row['AwayTeam'] == team1:
                goals_scored += row['FTAG'] 
                goals_conceded += row['FTHG']
                if row['FTR'] == 'A':
                    pts += 3
                elif row['FTR'] == 'D':
                    pts += 1
        pts_avg = pts/m
        goals_scored_avg = goals_scored/m
        goals_conceded_avg = goals_conceded/m
    return pts_avg, goals_scored_avg, goals_conceded_avg

In [ ]:
pts_streak_home = []
goals_scored_streak_home = []
goals_conceded_streak_home = []
for index, row in playing_stat.iterrows():
    pt_streak_home, goal_scored_streak_home, goal_conceded_streak_home = get_features_streak_home(row, n=15)
    pts_streak_home.append(pt_streak_home)
    goals_scored_streak_home.append(goal_scored_streak_home)
    goals_conceded_streak_home.append(goal_conceded_streak_home)
len(pts_streak_home)

5860

In [ ]:
feature_table['PSH'] = pts_streak_home
feature_table['SSH'] = goals_home_avgs
feature_table['CSH'] = goals_away_avgs 
feature_table.tail()

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,ADS,FFPTSH,FFHG,FFAG,PSH,SSH,CSH
5855,Leicester,Tottenham,A,3.0,2.0,6.0,5.0,0.819672,0.784314,1.862745,0.819672,1.4,1.80,2.60,1.466667,1.80,2.60
5856,Man United,Fulham,H,11.0,4.0,10.0,3.0,1.147541,1.078431,0.588235,1.967213,2.6,2.00,1.00,1.533333,2.00,1.00
5857,West Ham,Crystal Palace,H,6.0,4.0,5.0,3.0,1.147541,1.372549,0.882353,1.229508,1.8,1.80,1.00,1.200000,1.80,1.00
5858,Newcastle,Wolves,A,4.0,6.0,4.0,6.0,0.573770,1.470588,0.686275,0.655738,2.0,2.25,1.25,0.866667,2.25,1.25
5859,Everton,Watford,D,5.0,3.0,6.0,6.0,1.311475,0.882353,0.882353,0.819672,1.4,1.40,1.40,1.533333,1.40,1.40

In [ ]:
feature_table.head()

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,ADS,FFPTSH,FFHG,FFAG,PSH,SSH,CSH
0,Charlton,Man City,H,14.0,4.0,6.0,6.0,1.056218,0.938272,1.037037,1.158433,1.645014,1.533657,1.142521,1.645014,1.533657,1.142521
1,Chelsea,West Ham,H,10.0,5.0,7.0,7.0,1.499148,0.987654,1.037037,1.022147,1.645014,1.533657,1.142521,1.645014,1.533657,1.142521
2,Coventry,Middlesbrough,A,3.0,9.0,8.0,4.0,0.477002,1.135802,1.283951,0.715503,1.645014,1.533657,1.142521,1.645014,1.533657,1.142521
3,Derby,Southampton,D,4.0,6.0,5.0,8.0,0.783646,1.185185,0.641975,0.885860,1.645014,1.533657,1.142521,1.645014,1.533657,1.142521
4,Leeds,Everton,H,8.0,6.0,6.0,4.0,1.226576,1.037037,0.790123,1.090290,1.645014,1.533657,1.142521,1.645014,1.533657,1.142521

In [ ]:
def get_features_streak_away(match, n=10):
    team1 = match['AwayTeam']
    team1_stats = playing_stat[((playing_stat['HomeTeam']==team1) | (playing_stat['AwayTeam']==team1))]
    name = match.name
    idx = team1_stats.index.get_loc(name)
    if idx == 0:
        pts_avg = 1.1023545706371192
        goals_scored_avg = 1.1425207756232687
        goals_conceded_avg = 1.5336565096952908
    else:
        if idx-n < 0:
            newidx = 0
        else:
            newidx = idx - n
        matches_team1 = team1_stats.iloc[newidx:idx]
        m = len(matches_team1)
        pts = 0
        goals_scored = 0
        goals_conceded = 0
        for index, row in matches_team1.iterrows():
            if row['HomeTeam'] == team1:
                goals_scored += row['FTHG']
                goals_conceded += row['FTAG']
                if row['FTR'] == 'H':
                    pts += 3
                elif row['FTR'] == 'D':
                    pts += 1
            if row['AwayTeam'] == team1:
                goals_scored += row['FTAG'] 
                goals_conceded += row['FTHG']
                if row['FTR'] == 'A':
                    pts += 3
                elif row['FTR'] == 'D':
                    pts += 1
        pts_avg = pts/m
        goals_scored_avg = goals_scored/m
        goals_conceded_avg = goals_conceded/m
    return pts_avg, goals_scored_avg, goals_conceded_avg

In [ ]:
pts_streak_away = []
goals_scored_streak_away = []
goals_conceded_streak_away = []
for index, row in playing_stat.iterrows():
    pt_streak_away, goal_scored_streak_away, goal_conceded_streak_away = get_features_streak_away(row, n=15)
    pts_streak_away.append(pt_streak_away)
    goals_scored_streak_away.append(goal_scored_streak_away)
    goals_conceded_streak_away.append(goal_conceded_streak_away)
len(pts_streak_home)

5860

In [ ]:
feature_table['PSA'] = pts_streak_away
feature_table['SSA'] = goals_scored_streak_away
feature_table['CSA'] = goals_conceded_streak_away
feature_table.tail()

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,ADS,FFPTSH,FFHG,FFAG,PSH,SSH,CSH,PSA,SSA,CSA
5855,Leicester,Tottenham,A,3.0,2.0,6.0,5.0,0.819672,0.784314,1.862745,0.819672,1.4,1.80,2.60,1.466667,1.80,2.60,2.200000,1.866667,1.066667
5856,Man United,Fulham,H,11.0,4.0,10.0,3.0,1.147541,1.078431,0.588235,1.967213,2.6,2.00,1.00,1.533333,2.00,1.00,0.600000,1.000000,2.400000
5857,West Ham,Crystal Palace,H,6.0,4.0,5.0,3.0,1.147541,1.372549,0.882353,1.229508,1.8,1.80,1.00,1.200000,1.80,1.00,0.800000,0.733333,1.333333
5858,Newcastle,Wolves,A,4.0,6.0,4.0,6.0,0.573770,1.470588,0.686275,0.655738,2.0,2.25,1.25,0.866667,2.25,1.25,1.266667,1.000000,1.200000
5859,Everton,Watford,D,5.0,3.0,6.0,6.0,1.311475,0.882353,0.882353,0.819672,1.4,1.40,1.40,1.533333,1.40,1.40,1.333333,1.200000,1.400000

In [ ]:
feature_table["HomeTeamCode"] = feature_table["HomeTeam"].astype('category').cat.codes
feature_table["AwayTeamCode"] = feature_table["AwayTeam"].astype('category').cat.codes

In [ ]:
def target_map_fn(value):
    if value == 'H' :
        return int(1)
    if value == 'D' :
        return int(0)
    if value == 'A' :
        return int(0)

In [ ]:
feature_table["target"] = feature_table["FTR"].map(target_map_fn)

In [ ]:
feature_table

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,...,FFAG,PSH,SSH,CSH,PSA,SSA,CSA,HomeTeamCode,AwayTeamCode,target
0,Charlton,Man City,H,14.0,4.0,6.0,6.0,1.056218,0.938272,1.037037,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,11,24,1
1,Chelsea,West Ham,H,10.0,5.0,7.0,7.0,1.499148,0.987654,1.037037,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,12,39,1
2,Coventry,Middlesbrough,A,3.0,9.0,8.0,4.0,0.477002,1.135802,1.283951,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,13,26,0
3,Derby,Southampton,D,4.0,6.0,5.0,8.0,0.783646,1.185185,0.641975,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,15,32,0
4,Leeds,Everton,H,8.0,6.0,6.0,4.0,1.226576,1.037037,0.790123,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,21,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5855,Leicester,Tottenham,A,3.0,2.0,6.0,5.0,0.819672,0.784314,1.862745,...,2.600000,1.466667,1.800000,2.600000,2.200000,1.866667,1.066667,22,36,0
5856,Man United,Fulham,H,11.0,4.0,10.0,3.0,1.147541,1.078431,0.588235,...,1.000000,1.533333,2.000000,1.000000,0.600000,1.000000,2.400000,25,17,1
5857,West Ham,Crystal Palace,H,6.0,4.0,5.0,3.0,1.147541,1.372549,0.882353,...,1.000000,1.200000,1.800000,1.000000,0.800000,0.733333,1.333333,39,14,1
5858,Newcastle,Wolves,A,4.0,6.0,4.0,6.0,0.573770,1.470588,0.686275,...,1.250000,0.866667,2.250000,1.250000,1.266667,1.000000,1.200000,27,41,0
5859,Everton,Watford,D,5.0,3.0,6.0,6.0,1.311475,0.882353,0.882353,...,1.400000,1.533333,1.400000,1.400000,1.333333,1.200000,1.400000,16,37,0

In [ ]:
feature_table.columns
#pts avg - ffptsh
#avg home goals - ffhg
#avg away goals - ffag
#psh - points streak home
#ssh - goals scored streak home 
#csh - goals conceded streak home
#psa - points streak away
#ssa - goals scored streak away
#csa - goals conceded streak away

RANDOM FOREST CLASSIFICATION

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(n_estimators = 500, min_samples_split=10, random_state=1)

In [ ]:
train = feature_table.head(5480)

In [ ]:
train

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,...,FFAG,PSH,SSH,CSH,PSA,SSA,CSA,HomeTeamCode,AwayTeamCode,target
0,Charlton,Man City,H,14.0,4.0,6.0,6.0,1.056218,0.938272,1.037037,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,11,24,1
1,Chelsea,West Ham,H,10.0,5.0,7.0,7.0,1.499148,0.987654,1.037037,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,12,39,1
2,Coventry,Middlesbrough,A,3.0,9.0,8.0,4.0,0.477002,1.135802,1.283951,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,13,26,0
3,Derby,Southampton,D,4.0,6.0,5.0,8.0,0.783646,1.185185,0.641975,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,15,32,0
4,Leeds,Everton,H,8.0,6.0,6.0,4.0,1.226576,1.037037,0.790123,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,21,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5475,Tottenham,Stoke,H,11.0,3.0,12.0,6.0,1.374570,0.733945,0.688073,...,1.000000,1.666667,2.800000,1.000000,1.066667,1.200000,2.000000,36,33,1
5476,West Ham,Chelsea,H,2.0,2.0,4.0,3.0,0.824742,1.192661,1.467890,...,1.600000,0.666667,1.200000,1.600000,2.133333,1.866667,0.800000,39,12,1
5477,Liverpool,Everton,D,3.0,2.0,12.0,1.0,1.546392,0.458716,0.733945,...,0.400000,1.933333,1.800000,0.400000,1.200000,1.266667,1.866667,23,16,0
5478,Man United,Man City,A,5.0,7.0,2.0,8.0,1.305842,0.412844,2.064220,...,0.800000,2.333333,1.200000,0.800000,2.866667,3.066667,0.666667,25,24,0
5479,Southampton,Arsenal,D,3.0,6.0,4.0,5.0,0.687285,1.192661,0.917431,...,0.800000,1.133333,1.400000,0.800000,1.866667,1.933333,1.266667,32,0,0

In [ ]:
test = feature_table.tail(380)

In [ ]:
test

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,...,FFAG,PSH,SSH,CSH,PSA,SSA,CSA,HomeTeamCode,AwayTeamCode,target
5480,Burnley,Stoke,H,2.0,7.0,6.0,4.0,0.549828,0.779817,0.688073,...,0.800000,1.666667,0.800000,0.800000,1.066667,1.266667,2.266667,9,33,1
5481,Crystal Palace,Watford,H,4.0,2.0,4.0,6.0,0.996564,1.238532,0.779817,...,0.750000,0.733333,1.000000,0.750000,1.400000,1.466667,1.600000,14,37,1
5482,Huddersfield,Chelsea,A,2.0,5.0,1.0,3.0,0.549828,1.146789,1.467890,...,1.142521,1.000000,1.533657,1.142521,2.133333,1.733333,0.666667,18,12,0
5483,Liverpool,West Brom,D,5.0,1.0,5.0,7.0,1.546392,0.458716,0.458716,...,0.800000,1.933333,1.200000,0.800000,0.666667,0.733333,1.466667,23,38,0
5484,Man United,Bournemouth,H,2.0,7.0,4.0,9.0,1.305842,0.412844,0.871560,...,1.250000,2.133333,2.000000,1.250000,1.066667,1.000000,1.200000,25,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5855,Leicester,Tottenham,A,3.0,2.0,6.0,5.0,0.819672,0.784314,1.862745,...,2.600000,1.466667,1.800000,2.600000,2.200000,1.866667,1.066667,22,36,0
5856,Man United,Fulham,H,11.0,4.0,10.0,3.0,1.147541,1.078431,0.588235,...,1.000000,1.533333,2.000000,1.000000,0.600000,1.000000,2.400000,25,17,1
5857,West Ham,Crystal Palace,H,6.0,4.0,5.0,3.0,1.147541,1.372549,0.882353,...,1.000000,1.200000,1.800000,1.000000,0.800000,0.733333,1.333333,39,14,1
5858,Newcastle,Wolves,A,4.0,6.0,4.0,6.0,0.573770,1.470588,0.686275,...,1.250000,0.866667,2.250000,1.250000,1.266667,1.000000,1.200000,27,41,0
5859,Everton,Watford,D,5.0,3.0,6.0,6.0,1.311475,0.882353,0.882353,...,1.400000,1.533333,1.400000,1.400000,1.333333,1.200000,1.400000,16,37,0

In [ ]:
train.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

,index,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,...,FFAG,PSH,SSH,CSH,PSA,SSA,CSA,HomeTeamCode,AwayTeamCode,target
0,0,Charlton,Man City,H,14.0,4.0,6.0,6.0,1.056218,0.938272,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,11,24,1
1,1,Chelsea,West Ham,H,10.0,5.0,7.0,7.0,1.499148,0.987654,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,12,39,1
2,2,Coventry,Middlesbrough,A,3.0,9.0,8.0,4.0,0.477002,1.135802,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,13,26,0
3,3,Derby,Southampton,D,4.0,6.0,5.0,8.0,0.783646,1.185185,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,15,32,0
4,4,Leeds,Everton,H,8.0,6.0,6.0,4.0,1.226576,1.037037,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,21,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5475,5475,Tottenham,Stoke,H,11.0,3.0,12.0,6.0,1.374570,0.733945,...,1.000000,1.666667,2.800000,1.000000,1.066667,1.200000,2.000000,36,33,1
5476,5476,West Ham,Chelsea,H,2.0,2.0,4.0,3.0,0.824742,1.192661,...,1.600000,0.666667,1.200000,1.600000,2.133333,1.866667,0.800000,39,12,1
5477,5477,Liverpool,Everton,D,3.0,2.0,12.0,1.0,1.546392,0.458716,...,0.400000,1.933333,1.800000,0.400000,1.200000,1.266667,1.866667,23,16,0
5478,5478,Man United,Man City,A,5.0,7.0,2.0,8.0,1.305842,0.412844,...,0.800000,2.333333,1.200000,0.800000,2.866667,3.066667,0.666667,25,24,0
5479,5479,Southampton,Arsenal,D,3.0,6.0,4.0,5.0,0.687285,1.192661,...,0.800000,1.133333,1.400000,0.800000,1.866667,1.933333,1.266667,32,0,0

In [ ]:
test.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

,index,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,...,FFAG,PSH,SSH,CSH,PSA,SSA,CSA,HomeTeamCode,AwayTeamCode,target
0,5480,Burnley,Stoke,H,2.0,7.0,6.0,4.0,0.549828,0.779817,...,0.800000,1.666667,0.800000,0.800000,1.066667,1.266667,2.266667,9,33,1
1,5481,Crystal Palace,Watford,H,4.0,2.0,4.0,6.0,0.996564,1.238532,...,0.750000,0.733333,1.000000,0.750000,1.400000,1.466667,1.600000,14,37,1
2,5482,Huddersfield,Chelsea,A,2.0,5.0,1.0,3.0,0.549828,1.146789,...,1.142521,1.000000,1.533657,1.142521,2.133333,1.733333,0.666667,18,12,0
3,5483,Liverpool,West Brom,D,5.0,1.0,5.0,7.0,1.546392,0.458716,...,0.800000,1.933333,1.200000,0.800000,0.666667,0.733333,1.466667,23,38,0
4,5484,Man United,Bournemouth,H,2.0,7.0,4.0,9.0,1.305842,0.412844,...,1.250000,2.133333,2.000000,1.250000,1.066667,1.000000,1.200000,25,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,5855,Leicester,Tottenham,A,3.0,2.0,6.0,5.0,0.819672,0.784314,...,2.600000,1.466667,1.800000,2.600000,2.200000,1.866667,1.066667,22,36,0
376,5856,Man United,Fulham,H,11.0,4.0,10.0,3.0,1.147541,1.078431,...,1.000000,1.533333,2.000000,1.000000,0.600000,1.000000,2.400000,25,17,1
377,5857,West Ham,Crystal Palace,H,6.0,4.0,5.0,3.0,1.147541,1.372549,...,1.000000,1.200000,1.800000,1.000000,0.800000,0.733333,1.333333,39,14,1
378,5858,Newcastle,Wolves,A,4.0,6.0,4.0,6.0,0.573770,1.470588,...,1.250000,0.866667,2.250000,1.250000,1.266667,1.000000,1.200000,27,41,0
379,5859,Everton,Watford,D,5.0,3.0,6.0,6.0,1.311475,0.882353,...,1.400000,1.533333,1.400000,1.400000,1.333333,1.200000,1.400000,16,37,0

In [ ]:
feature_table.columns
#pts avg - ffptsh
#avg home goals - ffhg
#avg away goals - ffag
#psh - points streak home
#ssh - goals scored streak home 
#csh - goals conceded streak home
#psa - points streak away
#ssa - goals scored streak away
#csa - goals conceded streak away

Index(['HomeTeam', 'AwayTeam', 'FTR', 'HST', 'AST', 'HC', 'AC', 'HAS', 'HDS',
       'AAS', 'ADS', 'FFPTSH', 'FFHG', 'FFAG', 'PSH', 'SSH', 'CSH', 'PSA',
       'SSA', 'CSA', 'HomeTeamCode', 'AwayTeamCode', 'target'],
      dtype='object')

In [ ]:
predictors = ['HomeTeamCode','AwayTeamCode','HAS','HDS','AAS','ADS','FFPTSH','FFHG','FFAG','PSH','SSH','CSH','PSA','SSA','CSA']

In [ ]:
rf.fit(train[predictors],train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=500, random_state=1)

In [ ]:
preds = rf.predict(test[predictors])

In [ ]:
preds

array([1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1])

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
acc = accuracy_score(test["target"], preds)

In [ ]:
acc

0.7210526315789474

In [ ]:
combined  = pd.DataFrame(dict(actual=test['target'], prediction=preds))

In [ ]:
pd.crosstab(index=combined["actual"], columns=combined["prediction"])

prediction    0    1
actual
0           166   42
1            64  108

In this problem we have  13  features: the first  4 , which are season long features for each team. The next  3  that relate to face-to-face results between the teams, and the last  6  which relate to the form of both teams.

In [ ]:
feature_table

,HomeTeam,AwayTeam,FTR,HST,AST,HC,AC,HAS,HDS,AAS,...,FFAG,PSH,SSH,CSH,PSA,SSA,CSA,HomeTeamCode,AwayTeamCode,target
0,Charlton,Man City,H,14.0,4.0,6.0,6.0,1.056218,0.938272,1.037037,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,11,24,1
1,Chelsea,West Ham,H,10.0,5.0,7.0,7.0,1.499148,0.987654,1.037037,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,12,39,1
2,Coventry,Middlesbrough,A,3.0,9.0,8.0,4.0,0.477002,1.135802,1.283951,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,13,26,0
3,Derby,Southampton,D,4.0,6.0,5.0,8.0,0.783646,1.185185,0.641975,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,15,32,0
4,Leeds,Everton,H,8.0,6.0,6.0,4.0,1.226576,1.037037,0.790123,...,1.142521,1.645014,1.533657,1.142521,1.102355,1.142521,1.533657,21,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5855,Leicester,Tottenham,A,3.0,2.0,6.0,5.0,0.819672,0.784314,1.862745,...,2.600000,1.466667,1.800000,2.600000,2.200000,1.866667,1.066667,22,36,0
5856,Man United,Fulham,H,11.0,4.0,10.0,3.0,1.147541,1.078431,0.588235,...,1.000000,1.533333,2.000000,1.000000,0.600000,1.000000,2.400000,25,17,1
5857,West Ham,Crystal Palace,H,6.0,4.0,5.0,3.0,1.147541,1.372549,0.882353,...,1.000000,1.200000,1.800000,1.000000,0.800000,0.733333,1.333333,39,14,1
5858,Newcastle,Wolves,A,4.0,6.0,4.0,6.0,0.573770,1.470588,0.686275,...,1.250000,0.866667,2.250000,1.250000,1.266667,1.000000,1.200000,27,41,0
5859,Everton,Watford,D,5.0,3.0,6.0,6.0,1.311475,0.882353,0.882353,...,1.400000,1.533333,1.400000,1.400000,1.333333,1.200000,1.400000,16,37,0

In [ ]:
playing_stat

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,Charlton,Man City,4.0,0.0,H,2.0,0.0,H,17.0,8.0,14.0,4.0,13.0,12.0,6.0,6.0,1.0,2.0,0.0,0.0
1,Chelsea,West Ham,4.0,2.0,H,1.0,0.0,H,17.0,12.0,10.0,5.0,19.0,14.0,7.0,7.0,1.0,2.0,0.0,0.0
2,Coventry,Middlesbrough,1.0,3.0,A,1.0,1.0,D,6.0,16.0,3.0,9.0,15.0,21.0,8.0,4.0,5.0,3.0,1.0,0.0
3,Derby,Southampton,2.0,2.0,D,1.0,2.0,A,6.0,13.0,4.0,6.0,11.0,13.0,5.0,8.0,1.0,1.0,0.0,0.0
4,Leeds,Everton,2.0,0.0,H,2.0,0.0,H,17.0,12.0,8.0,6.0,21.0,20.0,6.0,4.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5855,Leicester,Tottenham,0.0,2.0,A,0.0,1.0,A,11.0,7.0,3.0,2.0,12.0,7.0,6.0,5.0,3.0,1.0,0.0,0.0
5856,Man United,Fulham,4.0,1.0,H,3.0,0.0,H,20.0,10.0,11.0,4.0,11.0,15.0,10.0,3.0,1.0,1.0,0.0,1.0
5857,West Ham,Crystal Palace,3.0,2.0,H,0.0,1.0,A,13.0,8.0,6.0,4.0,10.0,8.0,5.0,3.0,1.0,2.0,0.0,0.0
5858,Newcastle,Wolves,1.0,2.0,A,1.0,1.0,D,12.0,13.0,4.0,6.0,10.0,17.0,4.0,6.0,2.0,5.0,1.0,0.0
5859,Everton,Watford,2.0,2.0,D,1.0,0.0,H,12.0,15.0,5.0,3.0,13.0,13.0,6.0,6.0,1.0,1.0,0.0,0.0